# Mandatory library used in all odoo-openupgrade-wizard
# Note: As the openupgradelib is not allways up to date in pypi,
# we use the github master url.
git+https://github.com/OCA/openupgradelib@master#egg=openupgradelib

# Library used to run generate-module-analysis command
# dependencies of the module OCA/server-tools 'upgrade_analysis'
odoorpc
mako

odoo-addon-account-asset-management==15.0.1.2.1.2
odoo-addon-account-banking-pain-base==15.0.2.0.2.9
odoo-addon-account-banking-sepa-credit-transfer==15.0.2.0.4
odoo-addon-account-chart-update==15.0.1.3.1.3
odoo-addon-account-due-list==15.0.1.2.0.1
odoo-addon-account-financial-report==15.0.3.0.0.1
odoo-addon-account-fiscal-year==15.0.1.3.0.4
odoo-addon-account-invoice-refund-link==15.0.1.0.3.1
odoo-addon-account-payment-mode==15.0.1.0.3.2
odoo-addon-account-payment-return-import-iso20022==15.0.1.0.3
odoo-addon-account-payment-return-import==15.0.1.0.1
odoo-addon-account-payment-return==15.0.1.0.4
odoo-addon-account-payment-sale==15.0.1.0.1.1
odoo-addon-account-tax-balance==15.0.1.1.1.1
odoo-addon-base-bank-from-iban==15.0.2.0.0
odoo-addon-base-iso3166==15.0.1.0.3
odoo-addon-base-location-geonames-import==15.0.1.0.3.1
odoo-addon-base-location==15.0.1.0.3.1
odoo-addon-base-rest-auth-api-key==15.0.1.0.0.1
odoo-addon-base-rest==15.0.1.2.2.1
odoo-addon-contract-payment-mode==15.0.1.1.1.3
odoo-addon-date-range==15.0.1.1.1.3
odoo-addon-l10n-es-account-asset==15.0.1.0.2
odoo-addon-l10n-es-account-banking-sepa-fsdd==15.0.1.0.0.6
odoo-addon-l10n-es-account-statement-import-n43==15.0.1.0.6
odoo-addon-l10n-es-aeat-mod111==15.0.2.1.0
odoo-addon-l10n-es-aeat-mod115==15.0.1.0.0.9
odoo-addon-l10n-es-aeat-mod123==15.0.1.0.1.6
odoo-addon-l10n-es-aeat-mod190==15.0.2.0.1
odoo-addon-l10n-es-aeat-mod347==15.0.1.9.0
odoo-addon-l10n-es-aeat-mod303==15.0.3.7.2
odoo-addon-l10n-es-aeat-mod390==15.0.2.5.0.1
odoo-addon-l10n-es-aeat==15.0.3.1.1.2
odoo-addon-l10n-es-facturae==15.0.1.9.0.1
odoo-addon-l10n-es-irnr==15.0.1.1.0
odoo-addon-l10n-es-mis-report==15.0.1.1.0
odoo-addon-l10n-es-partner-mercantil==15.0.1.0.0.7
odoo-addon-l10n-es-partner==15.0.2.0.1
odoo-addon-l10n-es-toponyms==15.0.1.0.1
odoo-addon-l10n-es-vat-book==15.0.2.8.1.4
odoo-addon-mail-tracking==15.0.3.1.0.6
odoo-addon-mass-mailing-list-dynamic==15.0.1.0.0.9
odoo-addon-mis-builder-budget==15.0.4.0.2.9
odoo-addon-mis-builder==15.0.4.1.5.8
odoo-addon-partner-contact-access-link==15.0.1.1.1
odoo-addon-queue-job==15.0.2.3.10
odoo-addon-report-py3o==15.0.1.0.0.8
odoo-addon-report-xlsx==15.0.1.1.5
odoo-addon-web-advanced-search==15.0.1.1.5.2
odoo-addon-web-environment-ribbon==15.0.1.0.0.7
odoo-addon-web-no-bubble==15.0.1.0.0.4
odoo-addon-web-responsive==15.0.1.1.9.1
odoo-addon-web-timeline==15.0.1.1.0.3
odoo-addon-web-widget-image-download==15.0.1.0.0.5
python-keycloak==2.9.0
python-slugify==8.0.1
Faker==18.13.0
odoo-addon-partner-contact-gender==15.0.1.0.0.7
odoo-addon-partner-contact-birthdate==15.0.1.0.0.6

## cooperator_account_banking_mandate
# odoo-addon-cooperator==15.0.0.0.1->backported
odoo-addon-account-banking-mandate==15.0.2.1.4
odoo-addon-account-banking-sepa-direct-debit==15.0.2.3.1

## cooperator_account_payment
# odoo-addon-cooperator==15.0.0.0.1->backported
odoo-addon-account-payment-partner==15.0.1.3.2

## energy_communities
# odoo-addon-account-banking-mandate==15.0.2.1.4->duplicated
odoo-addon-account-lock-date-update==15.0.1.0.2
odoo-addon-account-multicompany-easy-creation==15.0.1.0.0.5
odoo-addon-account-payment-order==15.0.2.7.1.1
odoo-addon-auth-api-key==15.0.1.1.1.6
odoo-addon-auth-oidc==15.0.1.1.0.3
odoo-addon-base-rest==15.0.1.2.2.1
odoo-addon-base-technical-features==15.0.1.1.0.3
odoo-addon-base-user-role==15.0.0.4.2
# odoo14-addon-base-user-role-company==14.0.2.0.2 >backported
# odoo14-addon-community-maps==14.0.0.2.8->backported
odoo-addon-l10n-es-aeat-sii-oca==15.0.2.21.1
odoo-addon-mail-multicompany==15.0.0.1.0.3
# odoo14-addon-metadata==14.0.0.0.1->backported
odoo-addon-partner-firstname==15.0.1.1.0.4
odoo-addon-partner-multi-company==15.0.1.1.0.3
odoo-addon-queue-job==15.0.2.3.10

## energy_communities_api
odoo-addon-base-rest-pydantic==15.0.4.3.2.1
odoo-addon-pydantic==15.0.1.1.2.1

pydantic==1.10.18
extendable-pydantic==0.0.6
email_validator==2.2.0

## energy_communities_cooperator
# odoo-addon-account-multicompany-easy-creation==15.0.1.0.0.5->duplicated
# odoo14-addon-cooperator==14.0.2.1.1 >backported
# odoo14-addon-l10n-es-cooperator==14.0.0.1.1->backported

## energy_communities_crm
# odoo14-addon-crm-metadata==14.0.1.0.0 >backported
# odoo14-addon-crm-metadata-rest-api==14.0.1.0.2->backported
# odoo14-addon-crm-rest-api==14.0.1.0.2 >backported

## energy_communities_mass_mailing
odoo-addon-mass-mailing-partner==15.0.1.0.0.7
odoo-addon-mass-mailing-list-dynamic==15.0.1.0.0.9

## energy_project
# odoo14-addon-cooperator==14.0.2.1.1->backported
# odoo-addon-account-banking-mandate==15.0.2.1.4->backported

## energy_selfconsumption
odoo-addon-contract==15.0.1.11.1.1
odoo-addon-contract-variable-quantity==15.0.1.0.0.7
odoo-addon-web-m2x-options==15.0.1.1.1
odoo-addon-report-csv==15.0.2.0.0.2

pandas==2.0.3
numpy==1.24.4
# openupgradelib==3.6.1 -> duplicated
